body {
font-family: Arial, sans-serif;
background-color: plum;
}
    
h1 {
text-align: center;
}
   
#groceryList {
border: 1px solid;
border-color: brown;
padding: 10px;
margin: 10px;    
}
    
#groceryList div {
margin: 5px;
padding: 5px;
border: 1px solid;
border-color: brown;
}
    
#totals {
text-align: center;
}
    
button {
margin: 5px;
background-color: peachpuff;
}